@media(min-width: 992px) {
  .welcome-info {
    font-size: 30px;
    color: var(--text-color-lightest);
    padding: 30px 0 10px;
    text-align: center;
    user-select: none;
  }

  .crew {
    width: 80%;
    display: flex;
    flex-direction: column;
    /* 主轴(列)居中*/
    justify-content: center;
    margin: 30px auto 0;
  
    .title {
      height: 60px;
      line-height: 60px;
      font-size: 34px;
      font-weight: bold;
      color: var(--text-color-lightest);
      position: relative;
      margin: 0 auto 60px;
  
      // 下面的红线
      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -8px;
        width: 80%;
        height: 4px;
        background-color: var(--primary-color);
        margin: 0 auto;
      }
    }
  
    .section-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      background-color: var(--primary-bgc);

      .section-item {
        box-sizing: border-box;
        width: 33.33%;
        height: 50vh;
        padding: 20px 30px;
        transition: 0.4s ease;
        position: relative;
  
        &:hover {
          transform: translateY(-10px) scale(1.02);
          box-shadow: 0px 0px 18px rgba(255,255,255, 0.5);
        }
        // 姓名
        .crew-name {
          display: block;
          margin: 20px 0;
          font-size: 20px;
          color: var(--text-color-lightest);
        }
        // 职位名称
        .crew-job-title {
          padding: 0;
          font-weight: 500;
          color: var(--text-color-lightest);
          margin-bottom: 10px;
        }
  
        // 职位描述
        .crew-job-desc {
          color: rgba(0, 0, 0, 0.6);
          font-weight: 400;
          margin-bottom: 10px;
          color: var(--text-color-lightest);
        }
      }
    }
  }
}


// 手机端
@media(max-width:991px) {
  .welcome-info {
    display: none;
  }
  .crew {
    width: 100%;
    display: flex;
    flex-direction: column;
    // /* 主轴(列)居中*/
    // justify-content: center;
    margin: 20px auto 0;

    .title {
      height: 30px;
      line-height: 30px;
      font-size: 30px;
      font-weight: bold;
      color: var(--text-color-lightest);
      position: relative;
      margin: 0 auto 20px;

      // 下面的红线
      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -16px;
        width: 80%;
        height: 4px;
        background-color: var(--primary-color);
        margin: 0 auto;
      }
    }

    .section-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      background-color: var(--primary-bgc);

      .section-item {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 20px 10px;
        transition: 0.4s ease;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: space-around;
        justify-content: center;

        &:hover {
          transform: translateY(-10px) scale(1.02);
          box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.5);
        }

        .crew-base {
          display: flex;
          .crew-baseinfo {
            margin: 16px 0 0 30px;
            .crew-name {
              font-size: 20px;
              color: var(--text-color-lightest);
            }
            .crew-job-title {
              margin-top: 20px;
              color: var(--text-color-lightest);
            }
          }
        }
        // 职位描述
        .crew-job-desc {
          padding-top: 20px;
          color: var(--text-color-lightest);
          font-weight: normal;
          margin-bottom: 10px;
          line-height: 1.6;
        }
      }
    }
  }

}