// PC端
@media(min-width: 992px) {
  header {
    // 固定定位，定位在顶部, 覆盖下面滚动的内容
    position: fixed;
    top: 0;
    z-index: 100;
    height: 80px;
    width: 100%;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: #fff;
    box-shadow: 0 0 3px 3px #ccc;
    background-color: #fff;
    color: #000;

    .logo {
      font-size: 32px;
      font-weight: 700;
      cursor: pointer;
      user-select: none;
      margin-right: 50px;
    }
    .mobile-menu {
      display: none;
    }
    nav {
      width: 60%;
      display: flex;
      // 纵轴: 居中对齐
      align-items: center;
      // 横轴左对齐         
      justify-content: flex-start;

      ul {
        display: flex;
        margin-bottom: 0;

        li {
          a {
            // color: var(--text-color-darker);
            color: #fff;
            padding: 0 40px;
            font-size: var(--font20);
            font-weight: bold;
            // 鼠标悬停效果
            &:hover {
              // -webkit-transform: translateY(-3px);
              // -ms-transform: translateY(-3px);
              // transform: translateY(-3px);
              -webkit-box-shadow: 0 0 6px #999;
              box-shadow: 0 0 6px #999;
              -webkit-transition: all .5s ease-out;
              transition: all .5s ease-out;
              color: var(--primary-color);
            }
          }
        }

        .active {
          -webkit-box-shadow: 0 0 6px #999;
          box-shadow: 0 0 6px #999;
          -webkit-transition: all .5s ease-out;
          transition: all .5s ease-out;
          color: var(--primary-color);
        }
      }
    }

    .userinfo {
      display: flex;
      justify-content: center;

      span {
        font-size: 16px;
        padding: 0 20px;
        color: var(--text-color-gray);
        cursor: pointer;

        &:hover {
          transition: all .5s ease-out;
          color: var(--primary-color);
          cursor: pointer;
        }
      }
    }
    .ant-dropdown-link {
      font-size: 20px;
      color: #000;
      cursor: pointer;
      user-select: none;
      &:hover {
        color: red;
      }
    }

    .phoneIcon {
      display: none;
    }
  }
}

// 平板或手机屏幕
@media(max-width: 991px) {
  @keyframes slideDown {
    from {
      height: 0;
      opacity: 0;
    }

    to {
      height: 100%;
      padding-top: 0px;
      opacity: 1;
    }
  }

  @keyframes slideUp {
    from {
      height: 100%;
      padding-top: 0px;
      opacity: 1;
    }

    to {
      height: 0;
      display: none;
      opacity: 0;
      z-index: -100;
    }
  }

  header {
    position: fixed;
    top: 0;
    z-index: 100;
    height: 80px;
    width: 100vw;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 3px 3px #ccc;
    background-color: #fff;
    .logo {
      font-size: 32px;
      font-weight: 700;
      // color: var(--text-font-color);
      color: #000;
      cursor: pointer;
    }
    .pc-menu {
      display: none;
    }
    .init {
      display: none;
    }

    // 点击按钮 菜单打开后
    .open {
      width: 100vw;
      // background: rgba(0, 0, 0, 0.8);
      position: absolute;
      top: 80px;
      left: 0;
      z-index: 100;
      animation: slideDown 0.6s ease-out forwards;

      ul li {
        background: rgba(0, 0, 0, 0.8);
        width: 100vw;
        border-bottom: 1px dotted rgba(255, 255, 255, .6);
        line-height: 46px;
        text-align: left;
        font-size: 16px;
        padding: 0 5%;
        color: #fff;
        font-weight: bold;
        a {
          font-size: 16px;
          color: #fff;
          display: inline-block;
          width: 100%;
        }
      }
    }


    .closed {
      width: 100vw;
      background: rgba(0, 0, 0, 0.7);
      position: absolute;
      top: 80px;
      left: 0;
      z-index: -100;
      animation: slideUp 0.6s ease-out forwards;

      ul li {
        display: none;    // 修复占位问题导致的下层无法被点击
        width: 100vw;
        border-bottom: 1px dotted rgba(0, 0, 0, .3);
        line-height: 46px;
        text-align: left;
        font-size: 16px;
        padding: 0 5%;
        color: #fff;

        a {
          font-size: 16px;
          color: #fff;
        }
      }
    }
    // 使用iconfont
    .phoneIcon {
      svg {
        color: #000;
        font-size: 30px;
      }
    }

    // .phoneIcon {
    //   display: block;
    //   background: url(../../assets/images/phoneIcon.jpg) no-repeat;
    //   width: 31px;
    //   height: 26px;
    //   cursor: pointer;
    //   background-size: 100% auto;
    // }

    .userinfo {
      display: none;
    }
  }
}